<div>
  <div class="border border-gray-400 w-11/12 rounded-t mx-auto mt-5">
    <div class="py-3 px-2 bg-slate-800 rounded-t text-white">
      <div class="flex items-center justify-between">
        <button title="Regresar" routerLink="/dashboard/obras-madera"
          class="hover:opacity-90 ml-2 bg-gray-100 text-gray-800 p-2 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
          </svg>
        </button>
        <div class="text-center">
          <h1 class="ml-2 text-xl uppercase"> Detalles de obra </h1>
          <p> Madera </p>
        </div>
        <div></div>
      </div>
    </div>
    <div class="p-2">
      <div class="border border-gray-400 grid text-sm grid-cols-4">
        <p [ngClass]="{'bg-emerald-600 text-white':obra.estado === 'Pendiente', 'bg-gray-50 text-gray-500':obra.estado !== 'Pendiente'}"
          class="flex p-2 items-center border-r border-gray-400 justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <span class="ml-2 font-semibold"> Pendiente </span>
        </p>
        <p [ngClass]="{'bg-emerald-600 text-white':obra.estado === 'Produccion', 'bg-gray-50 text-gray-500':obra.estado !== 'Produccion'}"
          class="flex items-center bg-gray-50 border-r border-gray-400 justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" />
          </svg>
          <span class="ml-2 font-semibold"> Produccion </span>
        </p>
        <p [ngClass]="{'bg-emerald-600 text-white':obra.estado === 'Colocacion', 'bg-gray-50 text-gray-500':obra.estado !== 'Colocacion'}"
          class="flex items-center border-r border-gray-400 justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
          </svg>
          <span class="ml-2 font-semibold"> Colocacion </span>
        </p>
        <p [ngClass]="{'bg-emerald-600 text-white':obra.estado === 'Finalizada', 'bg-gray-50 text-gray-500':obra.estado !== 'Finalizada'}"
          class="flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
          </svg>
          <span class="ml-2 font-semibold"> Finalizada </span>
        </p>
      </div>
    </div>
    <div>
      <div class="px-2">
        <div>
          <div (click)="abrirCerrarSeccion('datosObra')" class="p-2 bg-gray-50 border border-gray-400 cursor-pointer flex items-center justify-between">
            <h2 class="font-semibold"> DATOS DE OBRA - {{ obra.codigo }} </h2>
            <div>
              <svg *ngIf="!seccion.datosObra" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
              </svg>
              <svg *ngIf="seccion.datosObra" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
          </div>
          <div *ngIf="seccion.datosObra" class="grid grid-cols-2 gap-2 p-2 text-sm">
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Codigo de obra </p>
              <p> {{ obra.codigo }} </p>
            </div>
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Precio total </p>
              <p> ${{ obra.precio | moneda }} </p>
            </div>
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Cliente </p>
              <p> {{ obra.cliente.descripcion }} {{ obra.cliente.telefono ? ' - Tel. ' + obra.cliente.telefono : null }}
              </p>
            </div>
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Fecha de inicio </p>
              <p> {{ obra.fechaInicio | fecha }} </p>
            </div>
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Fecha de colocacion (Estimada) </p>
              <p> {{ obra.fechaColocacionEstimada | fecha }} </p>
            </div>
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Fecha de colocación (Real) </p>
              <p [ngClass]="{'italic text-gray-700':obra.estado !== 'Finalizada'}"> {{ obra.estado !== 'Finalizada' ?
                'Obra en proceso' : (obra.fechaColocacion | fecha)}} </p>
            </div>
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Dirección </p>
              <p [ngClass]="{'italic text-gray-700':obra.direccion.trim() === ''}"> {{ obra.direccion.trim() !== '' ?
                obra.direccion : "Sin direccion" }} </p>
            </div>
            <div class="border border-gray-400 rounded p-2">
              <p class="font-semibold"> Observaciones </p>
              <p [ngClass]="{'italic text-gray-700':obra.observaciones.trim() === ''}"> {{ obra.observaciones.trim() !==
                '' ? obra.observaciones : "Sin observaciones" }} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="px-2 mt-2">
        <h2 class="border border-gray-400 font-semibold bg-gray-50 p-2"> LISTADO DE MUEBLES </h2>
        <div class="p-2">
          <div class="text-center">
            <p class="italic text-gray-600"> No se encontraron muebles en la obra </p>
            <button class="boton-crear mt-2">
              Agregar mueble
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
