<app-modal [showModal]="obrasMaderaService.showModalAbm">
  <div>
    <div class="flex items-center justify-between bg-gray-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ obrasMaderaService.estadoAbm == 'crear' ? 'Creando obra' :
        'Editando obra' }} </h1>
      <svg (click)="obrasMaderaService.showModalAbm= false" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="px-4 pt-2 max-h-96 overflow-y-auto text-sm">
      <div class="md:grid md:grid-cols-2 md:gap-4">
        <div>
          <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha de inicio </p>
          <input disabled (keyup.enter)="submit()" [(ngModel)]="obrasMaderaService.abmForm.fechaInicio"
            class="input-generico w-full mt-2 mb-2" placeholder="Ej. LC0001" type="date">
        </div>
        <div>
          <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha de colocación </p>
          <input (keyup.enter)="submit()" [(ngModel)]="obrasMaderaService.abmForm.fechaColocacionEstimada"
            class="input-generico w-full mt-2 mb-2" placeholder="Ej. LC0001" type="date">
        </div>
      </div>
      <div class="mt-1">
        <p class="font-semibold"> <span class="text-red-500"> * </span> Código </p>
        <input (keyup.enter)="submit()" [(ngModel)]="obrasMaderaService.abmForm.codigo"
          class="input-generico w-full mt-2 mb-2" placeholder="Ej. LC0001" type="text">
      </div>
      <div class="mt-1">
        <p class="font-semibold"> <span class="text-red-500"> * </span> Cliente </p>
        <div class="flex items-center mt-2">
          <ng-select placeholder="Seleccionar cliente" class="w-full" *ngIf="!loadingClientes" [(ngModel)]="obrasMaderaService.abmForm.clienteId">
            <!-- <ng-option value=""> Seleccionar cliente </ng-option> -->
            <ng-option *ngFor="let cliente of clientes" [value]="cliente.id"> {{ cliente.descripcion }} </ng-option>
          </ng-select>
        </div>
        <p *ngIf="loadingClientes">
          <span> Cargando clientes... </span>
        </p>
      </div>
      <div class="mt-2">
        <p class="font-semibold"> Direccion </p>
        <input (keyup.enter)="submit()" [(ngModel)]="obrasMaderaService.abmForm.direccion"
          class="input-generico w-full mt-2 mb-2" placeholder="Ej. 9 de Julio 811" type="text">
      </div>
      <div class="mt-1">
        <p class="font-semibold"> Observaciones </p>
        <input (keyup.enter)="submit()" [(ngModel)]="obrasMaderaService.abmForm.observaciones"
          class="input-generico w-full mt-2 mb-2" placeholder="Ej. Obra prioritaria" type="text">
      </div>
      <div *ngIf="obrasMaderaService.obraSeleccionada && obrasMaderaService.estadoAbm === 'editar'"
        class="xl:flex items-center">
        <div class="xl:w-1/2">
          <p class="font-semibold text-sm"> Fecha de alta </p>
          <div class="border text-sm mt-2 border-gray-400 rounded p-2 bg-gray-100">
            {{ obrasMaderaService.obraSeleccionada.createdAt | fecha }}
          </div>
        </div>
        <div class="xl:ml-4 xl:w-1/2 mt-2 xl:mt-0">
          <p class="font-semibold text-sm"> Usuario creador </p>
          <div class="border text-sm capitalize mt-2 border-gray-400 rounded p-2 bg-gray-100">
            {{ obrasMaderaService.obraSeleccionada.creatorUser.apellido.toLowerCase() }} {{
            obrasMaderaService.obraSeleccionada.creatorUser.nombre.toLowerCase() }}
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 pb-2 mt-1">
      <button *ngIf="obrasMaderaService.estadoAbm == 'crear'" (click)="nuevaObra()" class="boton-crear w-full mt-1">
        Crear obra
      </button>
      <button *ngIf="obrasMaderaService.estadoAbm == 'editar'" (click)="actualizarObra()"
        class="boton-editar w-full mt-4">
        Actualizar obra </button>
    </div>
  </div>
</app-modal>
